{% extends "layout.html" %}
{% block layin %}
<br>
<br>
<h1>TurkEycof_AoE</h1>
<div  id="twitch-embed"></div>
{% endblock layin %}


{% block scriptadd %}
<script src="https://embed.twitch.tv/embed/v1.js"></script>
<script type="text/javascript">
      new Twitch.Embed("twitch-embed", {
        width: 1200,
        height: 480,
        channel: "TurkEycof_AoE",
        // only needed if your site is also embedded on embed.example.com and othersite.example.com 
        parent: []
      });

      embed.addEventListener(Twitch.Embed.VIDEO_READY, () => {
        var player = embed.getPlayer();
        player.play();
      });
    </script>
{% endblock scriptadd %}